.trick-image {
  width: 200px;
  height: 200px;
  margin: 5px;
  overflow: hidden;

}

.container {
  border: 1px;
  border-color: slategray;
  border-radius: 4px;
  background-color: aliceblue;
}

.coverAll {
  z-index: 1000;
  position: fixed;
  top: 0px;
  left: 0px;
  background-size: cover;
  display: none;
}

.jumbotron {
    margin: 0px auto;
    background: url('../../assets/images/snow_jumbo.gif') no-repeat top center;
    background-size: cover;
    color: white;
    border-radius: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: url('../../assets/images/snow_jumbo.gif') no-repeat bottom center;
    background-size: cover;
    min-height: 20px;
    font-size: 15px;
    float: center bottom;
    color: white;
    text-align: center;
    line-height: 50px;
}

#clear {
    position: absolute;
    left: 0;
    font-size: 28px;
    color: white;
    border-style: none;
    width: auto;
    height: 100%;
    background-color: rgb(97, 167, 214);
    border: 0px;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

